.fullContainerContent
{
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	z-index: 4;
}
.textContent
{
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	color: white;
	text-shadow: 0 0 10px #111, 0 0 20px #111, 0 0 30px #111, 0 0 40px #111, 0 0 50px #111, 0 0 60px #111;
	
	padding: 50px;
	text-align: center;
	display: block;		
	
	z-index: 5;
}
.contentSection
{
	position: relative;
	z-index: 2;
}
.artSourceHeader
{
	color: white;
	position: absolute;`
}
